.menu__link {
  color: #808080;
  margin-right: 2em;
  text-decoration: none;
  text-transform: uppercase;
}

.menu__link.ativo {
  color: #333333;
  font-weight: bold;
}

.menu__link:hover {
  text-decoration: underline;
}